---
import Layout from "../layouts/Layout.astro";
---

<Layout title="css">
  <section class="section-css">
    <span>
      <img src="/blog/images/css.svg" alt="css" />
      <h2>CSS cambio 2</h2>
      <img src="images/arrow.svg" alt="arrow" />
    </span>

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/curso1.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Sergio Code</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=rTtC6Q-71qg"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/curso3.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>HolaMundo</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=wZniZEbPAzk"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/curso2.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>Iván Lynch</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=_tkVh9GwYDw&list=PLjJXcuN5Zxq2FZqaKgpfg8d4bmN0lQjH-"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- version en ingles-->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos en Ingles</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/course1.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Dave Gray</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=OXGznpKZ_sA"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/course2.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>Dave Gray</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=0W6qz0-aDaM&list=PL0Zuz27SZ-6Mx9fd9elt80G1bPcySmWit"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/course3.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>Bro Code</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=wRNinF7YQqQ"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- sitios para practicar -->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Sitios para practicar</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/sitio1.png"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Froggy</p>
            </div>
            <a
              target="_blank"
              href="https://flexboxfroggy.com/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               Ir
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "; 
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/sitio2.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>GridGarden</p>
            </div>
            <a
              target="_blank"
              href="https://cssgridgarden.com/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               IR
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/sitio3.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>CSSBattle</p>
            </div>
            <a
              target="_blank"
              href="https://cssbattle.dev/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               Ir
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- documentacion -->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Documentación</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/mdn.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>MDN</p>
            </div>
            <a
              target="_blank"
              href="https://developer.mozilla.org/es/docs/Web/CSS"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="images/docucss2.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>MANZ</p>
            </div>
            <a
              target="_blank"
              href="https://lenguajecss.com/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

      
      </div>
    </article>
  </section>
</Layout>

<style>
  .section-css {
    padding: 5vh 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .card {
    width: auto;
    height: 150px;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    border-radius: 8px;
  }

  .card:hover {
    transform: scale(1.04);
    transition: all 0.2s ease-out;
  }

  span {
    display: flex;
    gap: 5px;
  }

  span img {
    width: 30px;
  }

  .button {
    --color: #ffffff;
    width: 80px;
    height: 30px;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(1, 22, 39);
  }

  .button:active {
    filter: brightness(0.8);
  }
</style>
