---
import Layout from "../layouts/Layout.astro";
---

<Layout title="JS">
  <section class="section-css" >
    <span>
      <img src="/images/js.svg" alt="css" />
      <h2>Javascript</h2>
      <img src="/images/arrow.svg" alt="arrow" />
    </span>

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/cursojs1.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Sergie Code</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=N8Xt5rP_DUo"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/cursojs2.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>FalconMasters</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=Eh-s-n_6zNQ&t=30340s"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/cursojs3.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>TodoCode</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=x5YUu0eUc8s&list=PLQxX2eiEaqbwnzKnmqHDl0rkRvp_T7Q_W"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- version en ingles-->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos en Ingles</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/coursejs1.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>SuperSimpleDev</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=SBmSRK3feww&t=566s"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/coursejs2.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>Bro Code</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=8dWL3wF_OMw"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/coursejs3.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>Traversy</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=BI1o2H9z9fo"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
              loading="lazy"
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- sitios para practicar -->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Sitios para practicar</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/sitiojs2.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>CodeSignal</p>
            </div>
            <a
              target="_blank"
              href="https://codesignal.com/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               Ir
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "; 
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/plazi.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>Platzi Hero</p>
            </div>
            <a
              target="_blank"
              href="https://jshero.platzi.com/langs/js"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               IR
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/sitiojs3.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>HackerRank</p>
            </div>
            <a
              target="_blank"
              href="https://www.hackerrank.com/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               Ir
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- documentacion -->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Documentación</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/mdn.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>MDN</p>
            </div>
            <a
              target="_blank"
              href="https://developer.mozilla.org/es/docs/Web/JavaScript"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
               IR
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
          loading="lazy"
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/images/docjs.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>MANZ</p>
            </div>
            <a
              target="_blank"
              href="https://lenguajejs.com/javascript/"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               IR
            </a>
          </span>
        </main>

      
      </div>
    </article>
  </section>
</Layout>

<style>
  .section-css {
    padding: 5vh 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .card {
    width: auto;
    height: 150px;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    border-radius: 8px;
  }

  .card:hover {
    transform: scale(1.04);
    transition: all 0.2s ease-out;
  }

  

  span {
    display: flex;
    gap: 5px;
  }

  span img {
    width: 30px;
  }

  .button {
    --color: #ffffff;
    width: 80px;
    height: 30px;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(1, 22, 39);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 340px) {
    .card{
      flex-direction: column;
      height: auto;
      padding-right: 0;
    }

    .card img{
      border-radius: 4px 4px 0 0 !important;
    }

  }
</style>
