---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Node">
  <section class="section-css" transition:animate="slide">
    <span>
      <img src="/blog/images/node.svg" alt="html" />
      <h2>Node</h2>
      <img src="/blog/images/arrow.svg" alt="arrow" />
    </span>

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/curson1.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>MiduDev</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=yB4n_K7dZV8&list=PLUofhDIg_38qm2oPOV-IRTTEKyrVBBaU7"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/curson2.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>Fazt</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=i3OdKwuBjeM&t=7238s"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/curson3.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>Edson Maia</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=05WeJCU8CJ4&list=PLnex8IkmReXwCyR-cGkyy8tCVAW7fGZow"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

    <!-- version en ingles-->

    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Cursos en Ingles</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/coursen1.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Dave Gray</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=f2EqECiTBL8"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(184, 4, 73), rgb(107, 1, 36)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/coursen2.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 2</h3>
              <p>Zero To Mastery</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=fUJ3ULyyA-Y"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>

        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(129, 3, 117), rgb(53, 11, 150)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/coursen3.jpg"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 3</h3>
              <p>SimpliLearn</p>
            </div>
            <a
              target="_blank"
              href="https://www.youtube.com/watch?v=CELj-DCB0gohttps://www.youtube.com/watch?v=qz0aGYrrlhU"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              <img
                style="width: 18px; filter: invert(23%) sepia(91%) saturate(6645%) hue-rotate(356deg) brightness(106%) contrast(119%);"
                src="/blog/images/youtube.svg"
                alt=""
              />
               Curso
            </a>
          </span>
        </main>
      </div>
    </article>

<!-- documentacion -->
    <article class="content">
      <span style="font-size: 20px; font-weight: 600;">Documentación</span>
      <div class="cards">
        <main
          class="card"
          style="background: linear-gradient(45deg, rgb(2, 42, 102), rgb(3, 108, 179)); "
        >
          <img
            style="width: 250px; border-radius: 4px 0 0 4px;"
            src="/blog/images/docun.webp"
            alt="curso1"
          />
          <span
            style="display: flex; justify-content: space-between; align-items: center; flex-direction: column;"
          >
            <div>
              <h3>Opción 1</h3>
              <p>Node.Js</p>
            </div>
            <a
              target="_blank"
              href="https://nodejs.org/en/docs"
              class="button"
              style="display: flex; justify-content: center; align-items: center; text-decoration: none; gap: 5px; margin-bottom: 8px;"
            >
              
               IR
            </a>
          </span>
        </main>

       
      </div>
    </article>

  </section>
</Layout>

<style>
  .section-css {
    padding: 5vh 0;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  .card {
    width: auto;
    height: 150px;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    border-radius: 8px;
  }

  .card:hover {
    transform: scale(1.04);
    transition: all 0.2s ease-out;
  }

  span {
    display: flex;
    gap: 5px;
  }

  span img {
    width: 30px;
  }

  .button {
    --color: #ffffff;
    width: 80px;
    height: 30px;
    background-color: transparent;
    border-radius: 0.3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(1, 22, 39);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 340px) {
    .card{
      flex-direction: column;
      height: auto;
      padding-right: 0;
    }

    .card img{
      border-radius: 4px 4px 0 0 !important;
    }

  }
</style>
